  <br>
  <div class="container contenedor-animes">
  <div class="row">
    <!-- COMPLETAR CON EL LLAMADO A UNA FUNCIÓN PROPIA QUE CALCULE EL RATING PROMEDIO -->
    <p>El rating promedio es <span class="badge text-bg-primary rounded-pill"> {{ getAverageRating() }} </span></p>
    <div *ngIf="selected">
      <app-anime-detail [animeDetail]="selectedBAnime"></app-anime-detail>
      <hr>
    </div>
    <div class="col-4 card m-2" *ngFor="let anime of animes">
        <p class="text-center fw-bold">{{anime.name}}</p>
        <img src={{anime.img}}  alt="anime image" width=50px>
        <div class="p-2">
          <p>⭐{{anime.Rating}}</p>
          <p><b>Categories: </b>{{anime.categorie}}</p>
          <p class="card-text"><b># seasons: </b>{{ anime.seasons.length }}</p>
          <a class="btn btn-primary" routerLink="/{{anime.id}}">More information</a>
        </div>

   </div>

  </div>
</div>
